<FlowLayout>
    <Label>Hello, world!</Label>
    <Label>This is some cool shit</Label>
    <Button OnClick="@OnTextChange">Click me UwU</Button>

    @if (_x)
    {
        <Button OnClick="@OnTextChange">Click me aswell, daddy</Button>
    }
</FlowLayout>

@code {
    private string _text = "Hello, world!";
    private bool _x = false;
    private Pos _secondPos = 0;
    private Button Btn
    {
        set
        {
            _secondPos = Pos.Right(value.View) + 1;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _ = InvokeAsync(async () =>
        {
            await Task.Delay(4000);
            _text = "Hello there!";
            _x = true;
            StateHasChanged();
        });
    }

    private async Task OnTextChange()
    {
        _x = !_x;
        // throw new Exception("XD");
    }
}
